name: CI

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test (Rust)
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rust: [ "1.70.0", "stable" ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Cache Cargo builds
        uses: Swatinem/rust-cache@v2

      - name: Show Rust version
        run: rustc --version && cargo --version

      - name: Build
        run: cargo build --verbose

      - name: Test
        run: cargo test --verbose
